<app-my-header name="Лабораторна робота №6"></app-my-header>
<ion-content [fullscreen]="true">
  <ion-item>
    <ion-button (click)="nextType()">Наступна категорія</ion-button>
    <ion-label>Поточна категорія: </ion-label>
    <ion-label>{{type}}</ion-label>
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let product of searchProducts">
      <ion-label>
        <h2>{{ product.getName() }}</h2>
        <p *ngFor="let detail of product.getDetails()">{{ detail }}</p>
        <ion-button *ngIf="!showEditForm" (click)="editProduct(product)">Редагувати</ion-button>
        <app-edit-product *ngIf="showEditForm && selectedProduct === product" 
        [product]="product" 
        (productEdit)="onProductEdit($event)"></app-edit-product>
        <ion-button color="danger" (click)="deleteProduct(product)">Видалити</ion-button>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-button (click)="addFormShow()">Додати товари</ion-button>
  <app-add-product *ngIf="showAddForm" (productAdd)="addProduct($event)"></app-add-product>
</ion-content>
