<ion-card color="secondary">
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">


    <ion-item>
      <ion-label for="type">Product Type:</ion-label>
      <ion-select formControlName="type" (change)="onTypeChange($event)">
        <ion-select-option value="">Select type</ion-select-option>
        <ion-select-option value="popcorn">popcorn</ion-select-option>
        <ion-select-option value="glasses">glasses</ion-select-option>
        <ion-select-option value="drink">drink</ion-select-option>
        <ion-select-option value="ticket">ticket</ion-select-option>
      </ion-select>
    </ion-item> 

    <ion-item>
      <ion-label for="id">ID:</ion-label>
      <ion-input type="number" formControlName="id"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label for="name">Name:</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label for="price">Price:</ion-label>
      <ion-input type="number" formControlName="price"></ion-input>
    </ion-item>


    <div *ngIf="productForm.get('type')?.value === 'popcorn'">
      <ion-item>
        <ion-label for="size">Size:</ion-label>
        <ion-select formControlName="size">
          <ion-select-option value="">Select size</ion-select-option>
          <ion-select-option value="small">Small</ion-select-option>
          <ion-select-option value="medium">Medium</ion-select-option>
          <ion-select-option value="large">Large</ion-select-option>
        </ion-select>
      </ion-item>
    </div>


    <div *ngIf="productForm.get('type')?.value === 'glasses'">
      <ion-item>
        <ion-label for="color">Color:</ion-label>
        <ion-input type="text" formControlName="color"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label for="size">Size:</ion-label>
        <ion-select formControlName="size">
          <ion-select-option value="">Select size</ion-select-option>
          <ion-select-option value="small">Small</ion-select-option>
          <ion-select-option value="medium">Medium</ion-select-option>
          <ion-select-option value="large">Large</ion-select-option>
        </ion-select>
      </ion-item>
    </div>


    <div *ngIf="productForm.get('type')?.value === 'drink'">
      <ion-item>
        <ion-label for="volume">Volume (ml):</ion-label>
        <ion-input type="number" formControlName="volume"></ion-input>
      </ion-item>
    </div>

    <!-- Квиток -->
    <div *ngIf="productForm.get('type')?.value === 'ticket'">
      <ion-item>
        <ion-label for="row">Row:</ion-label>
        <ion-input type="number" formControlName="row"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label for="place">Place:</ion-label>
        <ion-input type="number" formControlName="place"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label for="hall">Hall:</ion-label>
        <ion-input type="number" formControlName="hall"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label for="date">Date:</ion-label>
        <ion-input type="date" formControlName="date"></ion-input>
      </ion-item>
    </div>

    <ion-item>
      <ion-button type="submit" [disabled]="productForm.invalid">Add Product</ion-button>
    </ion-item>
  </form>
</ion-card>  
